#post-bg {
  .thumbs-wrapper {
    display: none!important; // overwrite carousel library styles
  }
  .react-counts {
    font-size: 12px;
    font-weight: bold;
  }
  #comment {
    .text-fields {
      width: 100%;
    }
    button {
      color: white;
    }
    .post-comment {
      border: 2px solid #3e2723;
      padding: 0px 15px 15px 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      .post-comment-user {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 36px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
